body{
	/* background: url("../images/background.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    width: 100%;
    background-attachment: fixed; */
}
* {
	box-sizing: border-box;
}

.card {
    border-width: 2px;
    border-color: black;
    color: black;
}
h3 {
	border-radius: 5px 5px 0px 0px;
	padding-bottom: 5px;
	text-align: center;
}
img { 
    height: 150px;
    width: 150px;
}
/* .btn {
   
    margin: 3px;
    background-color: blue;
    border-color: #fff;
    border-radius: 5px;
    color: #fff;
    opacity: 0.8;
    width: 200px;
    margin-left: auto;
    margin-right: 5px;
} */
.card-title{
    background: blue;
}
.gifDiv{
    /* making the images go in one line rather than block & adding spacing between the images*/
    float: left;
    margin: 3px;
}
.container {
	background-color: #fff;
	opacity: 0.6;
    padding: 20px;
    width: 100% auto;
}
/* .text-center{
    background-color: blue;
    height: 80px;
    width: auto;
    text-align: center;    
} */
/* .jumbotron {
    background-color: blue;
    height: 100px;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
    float: top;
} */
.text-center{
    background-color: bisque;
    padding: 10px;
}
#copyright{
	font-size: 14px;
}
div#footer {
	clear: both;
	margin-top: 40px;
	position: center;
	bottom: 0;
	left: 0;
	text-align: center;
}

.radio-group {
    /* margin-top: 35px; */
    text-align: center;
    
    }
    
    .arr-time{
        float: left;
    }
    
    #mode-label {
    
        margin-right: 10px;
    }
    
    .control-label {
        margin-left: 10px;
    }
    
    #start-input {
        background-color: lightblue;
    }
    
    .big-btn {
        height: 175px;
        line-height: 50px;
    }