body{
	background: url("../images/background.jpg");
    background-size: cover;
    color: black;

    /* background-attachment: fixed; */
}
* {
    box-sizing: border-box;
}

h1.display-4{
    font-weight: 900;
    color: rgb(243, 240, 239);
    font-size: 13vw;
}
p.lead{
    font-weight: 500;
}

p.stats_display{
    font-weight: 500;
}
.card {
    border-width: 2px;
    border-color: black;
    color: black;
}
h3 {
	border-radius: 5px 5px 0px 0px;
	padding-bottom: 5px;
	text-align: center;
}

.btn {
    background-color: rgb(230, 238, 240);
    color:black;
}

.form-control {
    border: 1px solid black;
}
 
.container{
    background-color: rgb(236, 231, 226);
    /* border-radius: 10px; */
}
.thick{
    font-weight: 900;
}
.text-center{
    background-color: blue;
    height: 80px;
    width: auto;
    text-align: center;    
}

.btn {
    background-color: rgb(240, 245, 247);
}
.jumbotron {
    border: 2.5px solid rgb(153, 67, 17);
    border-radius: 10px;
    background: rgb(58, 148, 170);
    text-decoration-style: dashed;
}
.text-center{
    background-color: bisque;
    padding: 10px;
}
#copyright{
	font-size: 14px;
}
div#footer {
	clear: both;
	margin-top: 40px;
	position: center;
	bottom: 0;
	left: 0;
	text-align: center;
}

.radio-group {
    /* margin-top: 35px; */
    text-align: center;
    
    }
    
    .arr-time{
        float: left;
    }
    
    #mode-label {
    
        margin-right: 10px;
    }
    
    .control-label {
        margin-left: 10px;
    }
    
    #start-input {
        background-color: lightblue;
    }
    
    .big-btn {
        height: 175px;
        line-height: 50px;
    }
    #start-alert {
        height: 60px;
        width: 220px;
        text-align: center;
        font-weight: 600;
        color: black;
    }
/*640px is about the width of a phone in landscape */
@media screen and (max-width:640px){
    .container{
      width: 100%;
      /* background: lightgreen; */
    }
    .main-section{
      width: 100%;
    }
    .logo{
      width: 100%;
    }
    nav{
      width: 100%;
    }
  }